.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    p(style="font-family:'ArialMT';") Заголовок  h1
    p(style="font-family:'Arial-bold';") Заголовок  h2
    p Рыбка