/* ==========================================================================
	 HEADER
	 =========================================================================*/
.header{
  position: relative;
  min-height: 400px;
  background: url("../images/header-bg.jpg") no-repeat, #4488bb;
  background-size: cover;
  z-index: 2;
  .container{
    display: flex;
    justify-content: space-between;
    @include mq('tablet', 'max'){
      flex-direction: column;
      align-items: center;
      justify-content: normal;
      min-height: 655px;
    }
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4488bb;
    opacity: .5;
    z-index: -1;
  }
}

.header-text{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: 38px;
  max-width: 502px;
  p{
    margin-top: 50px;
    font-size: 18px;
    line-height: 24px;
  }
  @include mq('desktop', 'max'){
    margin-left: 0;
  }
  @include mq('tablet', 'max'){
    margin-top: 42px;
    text-align: left;
  }
}

.header-text__title{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 332px;
    height: 5px;
    background: $color-white;
    @include mq('tablet', 'max'){
      left: 0;
      width: 300px;
    }
  }
  @include mq('tablet', 'max'){
    font-size: 32px;
  }
}

.form{
  margin: 29px 115px 0 0;
  padding: 20px;
  width: 290px;
  min-height: 340px;
  background: $color-white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  @include mq('desktop', 'max'){
    margin-right: 0;
  }
}

.form__title{
  color: $color-main;
  font-size: 24px;
  font-weight: 700;
}

.form__group{
  margin-top: 15px;
  position: relative;
}

.form__label{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color:#aaa;
  pointer-events: none;
  transition: .3s;
}

.form__input{
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #eee;
  outline: none;
  font-size: 16px;
  &:focus{
    border: 1px solid $color-main;
  }
}

.form__input.error{
  border: 1px solid #bb4444;
}

.focused .form__label{
  top:10px;
  font-size: 10px;
}

//checkbox

.checkbox{
  position: relative;
}
input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.checkbox__label{
  display: block;
  padding-left: 30px;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
}
.checkbox__label:before {
  content:'';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 2px;
  background-color: #eee;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox__input:checked + .checkbox__label:before {
  content:'\2714';
  color:#000;
}

.valid + #agree-error + .checkbox__label:before{
  content:'\2714';
  color:#000;
}


.form__link{
  margin-left: 20px;
  font-size: 16px;
  color:#aaa;
  &:hover{
    text-decoration: underline;
  }
}

label.error{
  position: absolute;
  bottom: -54px;
  right: 28px;
  background-color: #b44;
  padding: 11px;
  min-width: 168px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 2;
  &:after{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: #b44;
    transform: rotate(45deg);
  }
}
#agree-error{
  left: 56px;
  bottom: -71px;
}
/* end header */
