/* ==========================================================================
   MODAL
   ===========================================================================*/
.modal-wrapper {
  position: fixed;
  top: 0;
  left:  0;
  right:  0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index:  555;
  opacity: 0;
  transition: opacity .5s ease-in;
  pointer-events: none;
}
.modal{
  z-index:  2;
  width: auto;
  display: inline-block;
  height: auto;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .js-form{
    max-width: 500px;
    overflow: hidden;
  }
  .form-body {
    margin: 0 75px;
    @media screen and (max-width:478px){
      margin: 0 45px;
    }
    p{
      margin: 0;
      padding:60px 0 30px 0;
      text-transform: uppercase;
      text-align: center;
      @include font-size(30px);
      font-weight: $font-weight-title;
      @media screen and (max-width:478px){
        @include font-size(21px);
      }
      @media screen and (min-width:479px) and (max-width:850px){
        @include font-size(24px);
      }
    }
    .btn{
      margin: 30px 0;
    }
  }
}
.js-modal.open{
  overflow-y: hidden;
}
.open {
  display: block;
  opacity: 1;
  pointer-events: auto;
}
.btn-close{
  position: absolute;
  z-index: 3;
  right: 16px;
  top: 18px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 0;
  color: transparent;
  text-align: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.icon-close{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 25px;
  padding: 0;
  text-align: center;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: #000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    margin: 0 auto;
    background: #000;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }
}
.modal-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background:$color-main;
  z-index: 40;
  top: 0;
  left: 0;
  z-index: 1;
}
.js-form--call{
  @media screen and (max-width:478px){
    min-height: 405px;
    padding-bottom: 0;
  }
}
/*modal-thanks*/
.modal-body{
  height: 197px;
  width: 600px;
  background-color:$color-white;
  @media screen and (max-width:478px){
    height: 267px;
    width: 310px;
  }
  @media screen and (min-width:479px) and (max-width:625px){
    width: 470px;
  }
  p{
    @include font-size(24px);
    font-weight: $font-weight-title;
    line-height: 39px;
    padding: 60px 45px;
    text-align: center;
    margin: 0;
    @media screen and (max-width:478px){
      padding: 60px 15px;
    }
  }
}
/* end modal */