doctype html
html(lang="ru")
	include global/head.pug
	body.home
		include global/header.pug
		//main
		main.wrapper
			include home/posts
			include home/list
			include global/footer.pug
			include global/modal.pug
			include global/scripts.pug
			include pages/pages.pug
