//header
header.header
    .container
        .header-text
            h1.h1.header-text__title Banner header
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        form.form
            .form__title Request form
            .form__group
                label.form__label Enter your E-Mail
                input.form__input(type="email" name="mail")
            .form__group
                label.form__label Enter your name
                input.form__input(type="text" name="name")
            .form__group
                label.form__label Enter your name
                select.form__input.select(type="text" name="country")
                    option(value="") Select your country
                    option(value="eng") eng
                    option(value="kz") kz
                    option(value="rus") rus
            .form__group
                label.checkbox
                    input.checkbox__input(type="checkbox" name="agree" checked)
                    span.checkbox__label I agree with Terms & Conditions
            .form__group
                button.btn(type="submit") Submit
                a(href="#").form__link Hyperlink