/*==========================================================================
	 LIST
	 ===========================================================================*/
.list{
  min-height: 535px;
  background: #eee;
  counter-reset: heading;
  .container{
    display: flex;
  }
  @include mq('tablet', 'max'){
    margin-top: -109px;
  }
}

.list-image{
  margin-top: -35px;
  width: 49%;
  @include mq('laptop-max', 'max'){
    margin-top: 30px;
    width: 58%;
  }
  @include mq('laptop', 'max'){
    display: none;
  }
}

.list-links{
  margin-top: 56px;
  @include mq('laptop', 'max'){
    margin: auto;
    margin-top: 20px;
  }
  @include mq('tablet', 'max'){
    margin-top: 103px;
  }
  li{
    &:last-child{
      .list__link{
        border-bottom: none;
      }
    }
  }
}

.list__link{
  margin-left: 50px;
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #aaa;
  &:not(last-child){
    margin-bottom: 16px;
  }
  &:before{
    counter-increment: heading;
    content: "" counter(heading) " ";
    position: absolute;
    left: -50px;
    top: 32%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-main;
    color:$color-white;
    text-align: center;
    line-height: 30px;
  }
  @include mq('tablet', 'max'){
    width: 82%;
    line-height: 25px;
  }
}

.list__title{
  margin-bottom: 52px;
  @include mq('tablet', 'max'){
    display: none;
  }
}
/* end list */