/*==========================================================================
	 POSTS
	 ===========================================================================*/
.posts{
  padding: 75px 0;
  min-height: 475px;
  background: $color-white;
  @include mq('tablet', 'max'){
    padding: 20px 0;
  }
}

.posts__row{
  margin-top: -25px;
  margin-left: -10px;
  display: flex;
  flex-wrap:wrap;
  @include mq('laptop', 'max'){
    justify-content: center;
  }
  @include mq('tablet', 'max'){
    margin: 0;
  }
}

.posts__item{
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
  min-width: 390px;
  min-height: 150px;
  overflow: hidden;
  z-index: 2;
  &:hover{
    .posts__text{
      transform: translateY(0);
    }
  }
  img{
    height: 100%;
  }
  @include mq('tablet', 'max'){
    min-height: 170px;
    min-width: 300px;
    margin-left: 0;
    margin-top: 0;
    &:not(:first-child){
      margin-top: 20px;
    }
  }
}

.posts__text{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  color: #eee;
  z-index: 1;
  background-color: rgba(68, 136, 187, 0.75);
  transition: .3s;
  transform: translateY(70%);
  &:after{
    content: '';
    position: absolute;
    top: 14px;
    right: 14px;
    width: 18px;
    height: 18px;
    background: url("../images/icon-post.png") no-repeat;
  }
  @include mq('tablet', 'max'){
    transform: translateY(0);
  }
}

.posts__title{
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

.post__item_long{
  min-width: 590px;
  @include mq('desktop', 'max'){
    min-width: 390px;
    max-width: 390px;
  }
}
/* end posts */