@import "_functions.scss";
//
//1. FONTS
//

//NEW INCLUDE FONTS FROM MIXIN
@include font-face('ArialMT', '../fonts/ArialMT.woff', 400, normal, woff);
@include font-face('Arial-bold', '../fonts/Arial-BoldMT.woff', 400, normal, woff);

$font-family-main: 'ArialMT', "Times New Roman", sans-serif;
$font-family-bold: 'Arial-bold', "Times New Roman", sans-serif;

//SIZE
$font-size-main: 14px;
$font-size-h1: 48px;
$font-size-h2: 48px;
$font-size-btn:16px;


//LINE HEIGHT
$line-height-main: 1.2;


//WEIGHT
$font-weight-main: 400;


//
//2. COLORS
//
$color-white: #fff;
$color-main: #4488bb;
$color-grey:#eee;

//3. BUTTONS
$button: (
	min-width: 125px,
	padding:0 10px,
	height: 30px,
	line-height: 16px,
	font-family: $font-family-main,
	font-size: 16px,
	color:$color-grey,
	font-weight: $font-weight-main,
	border-radius: 2px,
	background-image: linear-gradient(to bottom, #4488bb 0%, #2e5d80 100%),
);

// 5. @MEDIA QUERIES
//
$breakpoints: (
	"phone":   320px,
	"tablet-small": 601px,
	"tablet":       768px,
	"laptop":      980px,
	"laptop-max":      1200px,
	"desktop":      1600px,
	"desktop-max":      1920px,
);

//
// 6. Z-INDEX ELEMENTS
//

$z-layers: (
	back: -1,
	default: 1,
	button: 3
);
