//list
section.list
    .container
        .list-image
            img(src="images/mac.png")
        .list-links
            h2.h2.list__title Title text
            ul
                li
                    a(href="#").list__link Duis aute irure dolor in reprehenderit<sup><small>1</small></sup> in voluptate velit
                li
                    a(href="#").list__link Ullamco laboris nisi ut aliquip ex ea commodo consequat
                li
                    a(href="#").list__link Ut enim ad minim veniam, quis nostrud exercitation
                li
                    a(href="#").list__link Et dolore magna aliqua
                li
                    a(href="#").list__link Sed do eiusmod tempor<sup><small>2</small></sup> incididunt ut labore
                li
                    a(href="#").list__link Lorem ipsum dolor sit amet<sup><small>3</small></sup> consectetur adipisicing elit
