//posts
section.posts
    .container
        .posts__row
            .posts__item
                img(src="images/post1.jpg")
                .posts__text
                    .posts__title Post header 1
                    .posts__description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .posts__item
                img(src="images/post2.jpg")
                .posts__text
                    .posts__title Post header 2
                    .posts__description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .posts__item
                img(src="images/post3.jpg")
                .posts__text
                    .posts__title Post header 3
                    .posts__description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .posts__item.post__item_long
                img(src="images/post4.jpg")
                .posts__text
                    .posts__title Post header 4
                    .posts__description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .posts__item.post__item_long
                img(src="images/post5.jpg")
                .posts__text
                    .posts__title Post header 5
                    .posts__description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.