/* ==========================================================================
	 BUTTONS
	 ===========================================================================*/
.btn,
.btn[type="button"]{
	//position
	position: relative;
	z-index: z(button);
	//box mmodel
	display: inline-block;
	vertical-align: middle;
	padding: btn(padding);
	min-width: btn(min-width);
	height: btn(height);
	background-image: linear-gradient(to bottom, #4488bb 0%, #2e5d80 100%);
	//font
	font-family: btn(font-family);
	@include font-size(btn(font-size));
	line-height: btn(line-height);
	font-weight: btn(font-weight);
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	// other
	overflow: hidden;
	border-radius: btn(border-radius);
	border: none;
	cursor: pointer;
	color:btn(color);

	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: inherit;
	z-index: 1;
	transition:.3s ease;
	&:focus{
		outline:none;
	}
	&:hover{
		background-image: linear-gradient(to bottom,#78b3e0 0%,#2e5d80 100%);
	}
	@include mq ('tablet', 'max') {
		padding: 0 10px;
	}

}
/* disabled styles */
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .25;
	filter: alpha(opacity=25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
button[type="button"]{
	cursor: pointer;
}



/* end buttons*/
