 /* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TITLES */
h1,
.h1{
	font-family: $font-family-main;
	@include font-size($font-size-h1);
	color: #ffffff;
	line-height: $line-height-main;
	font-weight: 700;
	padding: 0;
	margin: 0;
}
h2,
.h2{
	font-family: $font-family-main;
	@include font-size($font-size-h2);
	color: $color-main;
	line-height: $line-height-main;
	font-weight: 700;
	display: block;
}

/* TEXT */
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
.no-upercouse{
	text-transform: none;
}
/* LINKS */
a {
	font-family: $font-family-main;
	font-size: 18px;
	color: $color-main;
	line-height: $line-height-main;
	font-weight: 700;
	text-decoration: none;
}
a[href^="mailto:"],
a[href^="tel:"]{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: $color-white;
		text-decoration: none;
	}
}
ul,
ol{
	margin: 0;
	padding-left: 0;
	list-style: none;
	li{
		list-style: none;
	}
}
/* end typography */
